<!DOCTYPE html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Réinitialiser le mot de passe</title>
        {% block styles %}
            <link href="{% static 'api_postBee/style.css' %}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <h1>
            <img src="{% static 'api_postBee/imgs/logo.png' %}">
        </h1>
        <h2>Changement du mot de passe</h2>        
            <form method="post" action="{% url 'reset_password_confirm' uidb64 token %}">
                {% csrf_token %}
                <label for="new_password"></label>
                <input
                    type="password"
                    name="new_password"
                    id="new_password"
                    autocomplete="off"
                    placeholder="Nouveau mot de passe"
                ><br>
                <label for="confirm_password"></label>
                <input
                    type="password"
                    name="confirm_password"
                    id="confirm_password"
                    autocomplete="off"
                    placeholder="Confirmer le mot de passe"
                ><br>
                <button type="submit">Réinitialiser le mot de passe</button>
            </form>
    </body>
</html>