<html>
    {% autoescape off %}
    <p>Bonjour {{ name }},</p>

    <p>Il semblerait que vous ne vous souveniez plus de votre mot de passe.</p>

    <p>Rassuez-vous, il n'y a aucun problème ! Ce genre de chose arrive à tout le monde, même aux meilleurs. :)</p>
    
    <p>En tout cas, nous avons tout fait pour que vous puissiez recommencer à utiliser PostBee le plus facilement possible.<br>
    Il suffit de cliquer sur le lien ci-dessous !</p>
    
    <a href="{{ protocol }}://{{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}">Réinitialiser votre mot de passe</a>
    
    <p>Nous vous remercions une nouvelle fois d'utiliser nos services !</p>
    <p>L'équipe de PostBee</p>
    <div style="display: flex; column-gap: 2rem; filter: drop-shadow(0 0 0.1rem #3335);">
        <img src="cid:logo_ensisa.png" alt="Logo de l'ENSISA">
            <img src="cid:logo_line.png" alt="Logo de PostBee">
    </div>
    {% endautoescape %}
</html>